*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    padding:50px;
}
.container{
    width: 540px;
    height: auto;
    background-color: lightblue;
    padding: 30px 20px;
    border-radius: 25px;
}
.container h2{
    display: flex;
    align-items: center;
    font-size: 36px;
    margin-bottom: 15px;
}
h2 img{
    width:40px;
    height: 40px
}
ul li{
    list-style: none;
    padding: 20px 30px;
    position: relative;
    font-size: 20px;
    cursor: pointer;
    user-select: none;
}

ul li::before{
    content:"";
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: brown;
    left:5px;
    background: url(./square.png);
    background-position: center;
    background-size: cover;
}

ul li.checked{
    text-decoration: line-through;
}

ul li.checked::before{
    background: url(./check-box.png);   
    background-position: center;
    background-size: cover;
}

ul li span{
    cursor: pointer;
    position: absolute;
    margin-right: 1px;
    font-size: 20px;
    right:0px;
    width:25px;
    height: 25px;
    text-align: center;
    background-color: aliceblue;
    border-radius: 50%;
    font-weight: 500;
}
ul li span:hover{
    background-color: black;
    color: white;
}
.input-box{
    display: flex;
    width: 100%;
    background-color: peru;
    border-radius: 25px;
    margin-bottom: 15px;

}

.input-box input{
    flex: 1;
    font-size: 18px;
    font-family: serif;
    padding:10px 20px;
    color: snow;
    background-color: transparent;
    border: none;
    outline: none;
}
.input-box input::placeholder{
    color: rgb(211, 207, 207)
}
.input-box button{
    padding: 10px 50px;
    border-radius: 25px;
    font-size: 20px;
    border: none;
    outline: none;
    font-family: serif;
    cursor: pointer;
}